@import '~office-ui-fabric-react/dist/sass/References.scss';

.msGrid {
  @include ms-Grid;
}

.msGridrow {
  padding-bottom: 15px;
  @include ms-Grid-row;
}

.msGridcol12 {
  @include ms-Grid-col;
  @include ms-sm12;
}

.msGridcol11 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl11;
}

.msGridcol10 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl10;
}

.msGridcol9 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl9;
}

.msGridcol8 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl8;
}

.msGridcol7 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl7;
}

.msGridcol6 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl6;
}

.msGridcol5 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl5;
}

.msGridcol4 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl4;
}

.msGridcol3 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl3;
}

.msGridcol2 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl2;
}

.msGridcol1 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl1;
}

.capex {
  .container {
    max-width: 1200px;
    margin   : 0px auto;

    .box {

      .header {
        border    : 1px solid #00afeb;
        background: #00afeb;
        padding   : 6px 12px 8px 12px;

        h3 {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size  : 16px;
          font-weight: 800;
          color      : #fff;
          font-weight: 600;
          color      : #fff;
          margin     : 0;
          padding    : 0;
        }

      }

      .content {
        border-top   : 0;
        border-bottom: 1px solid #cbd2df;
        border-left  : 1px solid #cbd2df;
        border-right : 1px solid #cbd2df;
        background   : #f8f8fa;
        padding      : 15px 10px 0 10px;
        margin-bottom: 15px;

        .adjunto {
          display    : flex;
          align-items: center;
          float      : right;
          cursor     : pointer;

          input {
            display: none;
          }

          i {
            font-size    : 24px;
            color        : #00afeb;
            padding-right: 10px;
          }

          a {
            font-size      : 14px;
            font-weight    : 600;
            color          : #17479f;
            text-decoration: none;
          }
        }

        .info {
          display    : flex;
          align-items: center;
          float      : right;
          padding-top: 26px;

          i {
            font-size    : 24px;
            color        : #00afeb;
            padding-right: 10px;
          }

          a {
            font-size      : 14px;
            font-weight    : 600;
            color          : #17479f;
            text-decoration: none;
          }
        }

        .textfield {
          :global {
            .ms-Label {
              font-size  : 14px;
              font-weight: 300;
              color      : #00afeb;
            }

            .ms-TextField-fieldGroup {
              border: 1px solid #d0d6e2;
            }
          }
        }

        .checkbox {
          :global {
            .ms-Checkbox {
              padding: 5px 0;
            }

            .ms-Checkbox-checkbox {
              border: 1px solid #d0d6e2;
            }

            .ms-Checkbox-text {
              font-size  : 14px;
              font-weight: 600;
              color      : #17479f;
            }

            .is-checked {
              .ms-Checkbox-checkbox {
                border    : 1px solid #00afeb;
                background: #00afeb;
              }
            }
          }
        }

        .dropdown {
          :global {
            .ms-Dropdown {
              border: 1px solid #d0d6e2;
            }

            .ms-Dropdown-title {
              border     : 0;
              font-size  : 14px;
              font-weight: 600;
              color      : #17479f;
            }

            .ms-Dropdown-caretDownWrapper i {
              color: #00afeb;
            }
          }
        }

        .choice {
          :global {
            .ms-ChoiceField {
              margin-top  : 3px;
              margin-right: 15px;
              float       : left;
              font-size   : 14px;
              font-weight : 600;
              color       : #17479f;
            }

            .ms-ChoiceField-field::before {
              border: 1px solid #d0d6e2;
            }

            .is-checked::before {
              border: 1px solid #00afeb;
            }

            .is-checked::before {
              span::after {
                border: 5px solid #00afeb;
              }
            }
          }
        }


        .head {
          font-family           : "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size             : 14px;
          font-weight           : 300;
          color                 : #00afeb;
          box-sizing            : border-box;
          box-shadow            : none;
          margin                : 0px;
          display               : block;
          padding               : 5px 0;
          overflow-wrap         : break-word;

          span {
            color: #e91d25;
          }
        }

        .data {
          font-family           : "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size             : 14px;
          font-weight           : 600;
          color                 : #17479f;
          box-sizing            : border-box;
          box-shadow            : none;
          margin                : 0px;
          display               : block;
          padding               : 5px 0px;
          overflow-wrap         : break-word;
        }
      }
    }

    .tablaSource {
      display        : flex;
      flex-flow      : row wrap;
      border-collapse: collapse;
      width          : 100%;
      padding-bottom : 1rem;

      th,
      td {
        text-align: left;
        padding   : 8px;
      }

      &>thead {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
        color          : #17479f;
        background     : #dfe2ed;
        height         : 1rem;
        padding        : 15px;
      }



      &>tbody {
        width: 100%;

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        &>tr {
          display        : flex;
          justify-content: space-between;
          width          : 100%;
        }
      }
    }

    .btn_blue {
      font-size  : 14px;
      font-weight: 300;
      color      : #fff;
      background : #17479f;
      border     : 1px solid #17479f;
      float      : right;
      margin-left: 15px;
    }

    .btn_red {
      font-size  : 14px;
      font-weight: 300;
      color      : #fff;
      background : #e91d25;
      border     : 1px solid #e91d25;
      float      : right;
      margin-left: 15px;
    }

    .separador {
      height : 25px;
      display: block;
    }

    .label {
      font-size  : 14px;
      font-weight: 600;
      color      : #17479f;
      display    : block;

      span {
        color: #e91d25;
      }
    }


  }

}