@import '~office-ui-fabric-react/dist/sass/References.scss';

.msGrid{
  @include ms-Grid;
}

.msGridrow{
  padding-bottom: 15px;
  @include ms-Grid-row;
}

.msGridcol12{
  @include ms-Grid-col;
  @include ms-sm12;
}

.msGridcol11{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl11;
}

.msGridcol10{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl10;
}

.msGridcol9{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl9;
}

.msGridcol8{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl8;
}

.msGridcol7{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl7;
}

.msGridcol6{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl6;
}

.msGridcol5{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl5;
}

.msGridcol4{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl4;
}

.msGridcol3{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl3;
}

.msGridcol2{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl2;
}

.msGridcol1{
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-xl1;
}

.mds {
  .container {
    max-width: 1200px;
    margin: 0px auto;

    .box {

      .header {
        border: 1px solid #00afeb;
        background: #00afeb;
        padding: 6px 12px 8px 12px;
        h3 {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          font-weight: 800;
          color: #fff;
          font-weight: 600;
          color: #fff;
          margin: 0;
          padding: 0;
        }

      }
      .content {
        border-top: 0;
        border-bottom: 1px solid #cbd2df;
        border-left: 1px solid #cbd2df;
        border-right: 1px solid #cbd2df;
        background: #f8f8fa;
        padding: 15px 10px 0 10px;
        margin-bottom: 15px;

        .adjunto {
          display: flex;
          align-items: center;
          float: right;
          i {
            font-size: 24px;
            color: #00afeb;
            padding-right: 10px;
          }
          a {
            font-size: 14px;
            font-weight: 600;
            color: #17479f;
            text-decoration: none;
          }
        }
        .textfield {
          :global {
            .ms-Label {
              font-size: 14px;
              font-weight: 300;
              color: #00afeb;
            }
            .ms-TextField-fieldGroup {
              border: 1px solid #d0d6e2;
            }
          }
        }
        .checkbox {
          :global {
            .ms-Checkbox-checkbox {
              border: 1px solid #d0d6e2;
            }
            .ms-Checkbox-text {
              font-size: 14px;
              font-weight: 600;
              color: #17479f;
            }
            .is-checked {
              .ms-Checkbox-checkbox {
                border: 1px solid #00afeb;
                background: #00afeb;
              }
            }
          }
        }

        .head {
          font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size: 14px;
          font-weight: 300;
          color: #00afeb;
          box-sizing: border-box;
          box-shadow: none;
          margin: 0px;
          display: block;
          padding: 0 0 5px 0;
          overflow-wrap: break-word;
          span {
            color: #e91d25;
          }
        }
        .data {
          font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size: 14px;
          font-weight: 600;
          color: #17479f;
          box-sizing: border-box;
          box-shadow: none;
          margin: 0px;
          display: block;
          padding: 5px 0px;
          overflow-wrap: break-word;
        }
      }
    }

    .btn_blue {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      background: #17479f;
      border: 1px solid #17479f;
      float: right;
      margin-left: 15px;
    }
    .btn_red {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      background: #e91d25;
      border: 1px solid #e91d25;
      float: right;
      margin-left: 15px;
    }
    .separador {
      height: 25px;
      display: block;
    }
    .label {
      font-size: 14px;
      font-weight: 600;
      color: #17479f;
      display: block;
      span {
        color: #e91d25;
      }
    }


  }

}
